@import
  url(https://fonts.googleapis.com/css?family=Pacifico);
*{
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
div{
  position: relative;
  z-index: 2;
}
body {
  background-color: #FFD8FA;
  font-family: 'Pacifico', sans-serif;
  font-weight: 400;
}
.footer{
  width: 450px;
  text-align: center;
  display: block;
  margin: auto auto auto auto;
  color: #9E608E;
  a{
    color: #633D59;
  }
}
.quote-box{
  border-radius: 10px;
  position: relative;
  margin: 8% auto auto auto;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #FFB4EB;
  .quote-text {
    i{
      font-size: 1.0em;
      margin-right: 0.6em;
    }
    text-align: center;
    width: 500px;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.0em;
  }
  .quote-author{
    width: 500px;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1.0em;
    text-align: right;
  }
  .share-buttons {
    width: 450px;
    margin: auto;
    display: block;
    .button{
      height: 40px;
      border: none;
      border-radius: 4px;
      color: #ffffff;
      background-color: #11111111;
      outline: #333333;
      font-size: 0.85em;
      padding: 8px 18px 6px 18px;
      margin-top: 30px;
      opacity: 2;
      cursor: pointer;
      &:hover{
        opacity: 0.6;
      }
      &#tumblr, &#tweet{
        float: left;
        padding: 0px;
        padding-top: 8px;
        text-align: center;
        font-size: 1.2em;
        margin-right: 35px;
        height: 30px;
        width: 40px;
      }
      &#quote-button{
        float: right;
        background-color: #9B4990;
      }
    }
  }
}
